<div class="title-reviews mx-5">
  <h1><%= @flat.title %></h1>
  <p><%= @flat.address %>, <%= @flat.city %></p>
  <div class="d-flex">
    <p>Number of reviews</p>
    <i class="fas fa-star"></i>
  </div>
</div>
<div class="images mx-5">Images</div>
<div class="info d-flex mx-5">
  <div class="about-flat">
    <!-- <hr> -->
    <div class="d-flex align-items-center justify-content-center pt-3">
      <p><i class="fas fa-users"></i> <%= @flat.size %></p>
      <p><i class="fas fa-wifi"></i> Wi-Fi</p>
      <p><i class="fas fa-home"></i> Entire Apartment</p>
      <p><i class="fas fa-tv"></i> Tv</p>
      <p><i class="far fa-map"></i> City Center</p>
      <p><i class="fas fa-euro-sign"></i> <%= @flat.price.to_i %>/night</p>
    </div>
    <hr>
    <h3>Entire Apartment - Host: <%= @flat.user.name %></h3>
    <p> <%= @flat.description %> </p>
  </div>
  <div class="d-flex justify-content-center align-items-center col-4">
    <%= render 'bookings/form', booking: @booking %>
  </div>
</div>
  <!-- render the partial _form from bookings -->
